<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/LOGSIGN/views/style.css">
</head>

<body>
    <div id="MD">
        <div id="OPT" class="left">
            <div id="menu" class="left">
                <button>NG</button>
                <button>OPT</button>
                <button>OUT</button>
            </div>
        </div>
        <div id="BBS" class="right">
            <div id="board">
                <table>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                            <th>E</th>
                            <th>F</th>
                            <th>G</th>
                            <th>H</th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                            <td class="D"></td>
                            <td class="L"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>